.automation {
	padding: 130px 0;
	&_wrapper {
		display: grid;
		grid-template-columns: 1fr auto;
		column-gap: 150px;
		align-items: center;
	}
	&_descr {
		.subtitle {
			padding: 10px 0;
			max-width: 500px;
		}
	}
	&_img {
		max-height: 700px;
	}
}
