.store {
	padding: 150px 0;
	&_wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 100px;
		align-items: center;
	}
	&_title {
		font-weight: 500;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&_subtitle {
		margin-top: 15px;
		font-family: Roboto;
		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		color: $subtitle;
	}
	&_btn {
		display: inline-block;
		margin-top: 50px;
	}
	&_items {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(11, 1fr);
		column-gap: 15px;
		row-gap: 30px;
		& > :nth-child(1) {
			width: 100%;
			grid-row-start: 1;
			grid-row-end: 8;
			grid-column-start: 2;
			grid-column-end: 7;
			background: #122e4a;
			box-shadow: 12px 22px 42px rgba(4, 20, 37, 0.25);
			border-radius: 0px 30px;
		}
		& > :nth-child(2) {
			grid-column-start: 7;
			grid-column-end: 11;
			grid-row-start: 2;
			grid-row-end: 8;
			border-radius: 30px 0px;
		}
		& > :nth-child(3),
		& > :nth-child(4),
		& > :nth-child(5) {
			grid-row-start: 8;
			grid-row-end: 11;
		}
		& > :nth-child(3) {
			grid-column-start: 4;
			grid-column-end: 6;
		}
		& > :nth-child(4) {
			grid-column-start: 6;
			grid-column-end: 8;
		}
		& > :nth-child(5) {
			grid-column-start: 8;
			grid-column-end: 10;
		}
		& > :nth-child(6) {
			grid-column-start: 6;
			grid-column-end: 8;
			grid-row-start: 11;
			grid-row-end: 14;
		}
	}
	&_item {
		background-color: $storeItem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		box-shadow: 12px 22px 42px rgba(4, 20, 37, 0.25);
		&_descr {
			font-family: 'Roboto';
			font-size: 14px;
			line-height: 20px;
			color: $storeItemText;
		}
	}
}
