.day-night {
	padding: 150px 0;
	&_wrapper {
		display: grid;
		align-items: start;
		justify-items: start;
		position: relative;
	}
	&_img {
		max-width: 850px;
		max-height: 850px;
		height: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&_card {
		max-width: 400px;
		display: inline-block;
		padding: 100px 75px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		z-index: 5;
		background-color: $dayNightCardBackground;
		box-shadow: 22px 28px 62px rgba(18, 37, 59, 0.14);
		&_switch {
			max-width: 90px;
			max-height: 40px;
		}
		&_title {
			margin: 10px 0;
			font-weight: 500;
			font-size: 60px;
			line-height: 77px;
			letter-spacing: 0.04em;
			color: $dayColor;
			span {
				color: $nightColor;
			}
		}
		&_descr {
			font-family: 'Roboto';
			font-size: 16px;
			line-height: 24px;
			color: #666666;
			p {
				margin: 5px 0;
			}
			span {
				color: $liEllipse;
			}
		}
	}
}
