@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$file_name}.woff') format('woff'),
			url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import './base/libs';
@import 'fonts';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700);

$maxWidthContainer: 1160px;
$mainBGColor: #12253b;
$white: #ffffff;
$transition: all 0.3s ease;
$btnHover: #e7b894;
$footerLeft: #2a486b;
$footerCenter: #203b5a;
$footerRight: #18304d;
$ellipse: #233e59;
$title: #bba390;
$subtitle: #8caac8;
$blue: #2b8cfc;
$inputColor: #5c82a8;
$designCard: #051627;

@import './base/global';
@import './block/header';
@import './block/footer';
@import './block/curtain';
@import './block/conditions';
@import './block/design';
